---
layout: default
---
{%- assign page_description = page.description | default: page.excerpt -%}
<article class="post realmat-page" itemscope itemtype="https://schema.org/CreativeWork">
  <header class="major">
    {% if page.kicker %}<span class="date">{{ page.kicker }}</span>{% endif %}
    {% if page.title %}<h1 itemprop="headline">{{ page.title }}</h1>{% endif %}
    {% if page_description %}<p itemprop="description">{{ page_description | strip_html }}</p>{% endif %}
  </header>

  <div class="realmat-page-content e-content" itemprop="text">
    {{ content }}
  </div>
</article>
